CompileFlags:
    Add: []

Diagnostics:
  MissingIncludes: None
  Suppress: [
   -Wundefined-inline,
   -Wwritable-strings,
   -Wpragma-pack,
   typecheck_invalid_lvalue_addrof,
   misc-definitions-in-headers,
   undeclared_var_use
   ]